body{
    background-image: ../Images/Website noise.png;
}

p{
    color: green;
}

h1{
    color: green;
}

h3{
    color: green;
}

#Articles{
    font-family: "Lucida Console";
}

#head{
    font-family: "Lucida Console";
}
